.headerImg {
	height: 100px;
	/* width: max-content; */
	width: 100%;
}
.logo {
	width: 50px;
	height: 50px;
}
.footerImg {
	height: 100px;
	width: max-content;
}

body {
	background-color: lavender;
}

.th_button {
	width: 60px;
}

.tr_button {
	text-align: center;
}

.tr_id, .th_id {
	width: 5%;
}
.tr_uid, .th_uid {
	width: 10%;
}

.tr_email, .th_email {
	width: 20%;
}

.tr_done, .th_done {
	width: 5%;
}

.tr_text, .th_text {
	width: flex;
}

.tr_editoruid, .th_editoruid {
	width: 5%;
}